html {
  background-image: url("img/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body{
  position: relative;
}

#pagename {
  font-family: 'Special Elite', cursive;
  text-align: center;
  font-size: 120px; 
  font-weight: bold;
  margin: 50px 0px 10px 0px;
  width: 100%;
}

.mainbox {
  font-family: 'Special Elite', cursive;
  border: 8px solid black;
  border-radius: 30px;
  background-color: rgba(125, 125, 125, 0.3);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0px 20px 0px 20px;
  padding: 30px 10px 10px 10px;

}

#inputlabel, #offsetlabel, #buttonslabel{
  outline: none;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  margin: 0em;
}

#textinput, #offset {
  font-family: 'Special Elite', cursive;
  text-align: center;
  font-size: 15px;
  outline: none;
  background-color: rgba(170, 170, 170, 0.3);
  border: 3px solid rgb(30, 30, 30);
  border-radius: 10px;
  width: 100%;
  height: 20px;
  margin: 10px 0px 30px 0px;
  padding: 5px 0px 0px 0px;
}

#textinput:hover, #offset:hover, #encode:hover, #decode:hover{
  transition-duration: 0.3s;
  background-color: rgba(125, 125, 125, 0.3);
}

#encode, #decode {
  font-family: 'Special Elite', cursive;
  text-align: center;
  font-size: 15px;
  outline: none;
  background-color: rgba(170, 170, 170, 0.3); 
  border:3px solid rgb(30, 30, 30);
  border-radius: 8px;
  width: 90px;
  height: 25px;
  padding: 3px 1px 0px 0px;
  margin: 10px 0px 30px 0px;
}

#textoutput{
  outline: none;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  width: 240px;
  height: 35px;
  border: 5px solid rgb(30, 30, 30);
  border-radius: 10px;
  margin: 10px 0px 20px 0px;
}

@media only screen and (min-width: 768px){
  #pagename {
    text-align:center;
    font-size: 200px; 
    margin: 100px 0px 30px 0px;
  }

  .mainbox {
    margin: 0px 80px 0px 80px;
    padding: 50px 20px 20px 20px;
  }

  #inputlabel, #offsetlabel, #buttonslabel{
    font-size: 30px;
  }

  #textinput, #offset {
    font-size: 30px;
    outline: none;
    height: 40px;
    margin: 10px 0px 30px 0px;
    padding: 8px 0px 0px 0px;
  }

  #encode, #decode {
    font-size: 30px;
    width: 200px;
    height: 40px;
    padding: 7px 2px 0px 0px;
    margin: 10px 5px 30px 5px;
  }
  #textoutput{
    font-size: 40px;
    width: 400px;
    height: 55px;
    margin: 10px 0px 20px 0px;
  }
}

@media only screen and (min-width: 982px){
  #pagename {
    font-size: 200px; 
    margin-top: 60px;
    margin-bottom: 0px;
    width: 100%;
    height: 100%;
  }
  
  .mainbox {
    width: 60%;
    height: 20%;
    padding: 30px;
    margin: auto;
  }
    
  #inputlabel, #offsetlabel, #buttonslabel{
    font-size: 30px;
    margin: 0em;
  }
  
  #textinput, #offset {
    font-size: 20px;
    margin: 0px 20px 20px 0px;
    padding: 5px 0px 0px 0px;
    width: 100%;
    height: 50px;
  } 
  
  #encode, #decode {
    font-size: 20px;
    padding-top: 3px;
    width: 260px;
    height: 40px;
    margin: 10px 10px 10px 10px;
  }
  
  #textoutput{
    font-size: 50px;
    width: 500px;
    height: 40px;
    margin: 20px 0px 0px;
    padding: 10px;
  }
}